body{
    background-color: black;
    background-image: url(Imagenes/logo\ invierno\ 2.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 0%;
    margin: 0%;
}

header{
    background-color: rgb(83, 81, 81);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header{
    display: inline-block;
}

ul.navegacion {
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: none;
  flex-direction: column;
}

ul.navegacion li {
  list-style: none;
  margin: 0px 0px;
  padding: 15px 20px;
}

nav{
    border-bottom: 4px solid lightblue;
    width: 100%;
    display: flex;
    background-color: rgb(12, 227, 255);
}

h1{
    color: rgb(88, 123, 255);
    font-family: "Mynerve";
    font-weight: 4000;
    font-size: 100px;
    font-style: normal;
    padding: 0%;
    margin: 0%;
    text-align: center;
}

h2{
    color: rgb(142, 210, 246);
    font-family: "Mynerve", cursive;
    font-weight: 1000;
    font-size: 30px;
    font-style: italic;
    padding: 0%;
    margin: 0%;
    text-decoration: underline;
}

h3, h4, h5, p{
    text-shadow: 1px 1px 3px black;
    color: white;
}

nav ul{
    display: flex;
    flex-direction: row;
    
    list-style: none;
    color: black
    
}

li{
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 20px;
    color: while;
}


.perfil{
    width: 100px;
    height: 100px;
    border-radius:50%;   
  
}

.integrantes{
   display: inline-block;
     background-position: center;
}

.cursor:hover{
    cursor: url(Imagenes/logo\ insta.png),
    auto;
}

footer{
    background-color: rgb(83, 81, 81);
}

footer .extras {
  display: flex;
  width: 100%;
  background: yellow;
  padding-left: 0;
  justify-content: center;
}
ul.extras li {
  list-style: none;
  margin: 0px 10px;
  color: blue;
  text-transform: uppercase;
  padding: 15px;
}

.contenedor {
    display: block;
    background-color: light blue;
}

.form , .lista{
    color: white;
}

#contraseña-form, #nombre-form, #apellido-form, #boton-form, .contenedor {
  display: block;
  border-color: lightblue;
    color: while;
}

table,
  tr,
  td {
    border:  rgb(139, 228, 228) 2px solid;
    border-collapse: collapse;
    background-color: lightpink;
    color: black;
  }

.tabla {
    background-color: rgb(139, 228, 228);
  }
  
